body{
    padding: 0;
    //background-color: #008080 !important;
    background-image: url("http://www.glaad.org/sites/default/files/images/2014-08/wikipedia.jpg");
    background-repeat: no-repeat;
}

a{
    color: #ffffff !important;
    list-style-type: none;
}

label{
    color: #333;
}

.box{
    max-width: 50%;
}

.main-content{
    max-width: 50%;
    display: block;
    margin: auto;
}

.main-content a{
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;

}

.main-content button{
    margin: auto;
    display: block
}

ul li{
    list-style-type: none;
    font-size: 12px;
    color: #ffffff;
    margin: 10px 0 10px 0;
    background-color: rgba(0,0,0,0.2);
    padding: 30px;
}

#show-content{
    margin: 0;
    padding: 0;

}

.holder{
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-muted{
    color: #ffffff !important;
}